@use '../../../styles/variables' as *;

.logo {
    fill: red; // changes fill color
    width: 40px;
    height: 40px;
}

.navbar {
    background-color: $primary-color;
    height: 60px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
}

.navbarContainer {
    display: flex;
    flex-direction: row;
    justify-items: right;
}
