@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/abstracts/breakpoints' as *;

.logo {
  width: 60px;
  height: 60px;
}

.navbar {
  background-color: $primary-color;
  height: 60px;
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.navbarContainer {
  display: flex;
  flex-direction: row;
  justify-items: right;
  column-gap: 10px;

  @include respond-below($breakpoint-md) {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  &.active {
    display: flex;
  }
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  align-self: center;
  padding: 20px;
  color: $secondary-color;

  @include respond-below($breakpoint-md) {
    display: block;
  }

  &:hover {
    color: $primary-color;
    background-color: $secondary-color;
  }
}
