.add-meal-page {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.ingredient-search {
  flex: 1;
  margin: 20px;
}

.ingredient-list {
  flex: 2;
  margin: 20px;
}

.ingredient-list-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ingredient-list-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.ingredient-header {
  display: flex;
  justify-content: space-between;
}

.ingredient-header > * {
  margin: 0 10px;
  min-width: 40px;
}

.ingredient-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.ingredient-image {
  display: inline;
  max-width: 40px;
  margin-right: 10px;
  padding-bottom: 2.5px;
}

.ingredient-name {
  font-weight: bold;
  font-size: 1.2em;
}

.ingredient-macro {
  font-size: 1em;
  margin: 5px 0;
}

.ingredient-input-remove {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amount-input {
  width: 100px;
  padding: 5px;
}

.remove-btn {
  padding: 5px 10px;
  background-color: #ff4d4d;
  border: none;
  color: white;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: #e60000;
}

.save-btn {
  width: 100%;
  background-color: green;
  margin-top: 10px;
  grid-column: 1 / -1;
}

/* Responsive Design */
@media (max-width: 1400px) {
  .add-meal-page {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    padding: 20px;
  }

  .ingredient-search,
  .ingredient-list {
    flex: 1;
  }

  .ingredient-list-item {
    flex-direction: column;
  }

  .ingredient-input-remove {
    flex-direction: row;
    align-items: stretch;
    margin-top: 10px;
  }

  .ingredient-details {
    text-align: center;
    display: flex;
  }

  .ingredient-details {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  /* All spans default inline */
  .ingredient-details > span {
    flex: 1 1 auto;
  }

  .ingredient-details {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Adjust to your design */
    grid-template-rows: auto auto auto;
  }

  /* Row 1: First child spans full width */
  .ingredient-details > span:nth-child(1) {
    grid-column: 1 / -1;
  }

  /* Row 2: Children 2 to 6 in the second row */
  .ingredient-details > span:nth-child(n + 2):nth-child(-n + 6) {
    grid-column: span 1;
  }

  /* Row 3: Children 7 and 8 */
  .ingredient-details > span:nth-child(7),
  .ingredient-details > span:nth-child(8) {
    grid-column: span 1;
  }
}

/* SMALL DEVICES */

@media (max-width: 766px) {
  .ingredient-header {
    margin-top: 10px;
  }

  .ingredient-list {
    width: 100%;
    margin: 0;
  }

  .ingredient-input-remove {
    flex-direction: column;
    align-items: stretch;
    margin-top: 10px;
  }

  .amount-input {
    margin-bottom: 10px;
    text-align: center;
  }

  .ingredient-list-item {
    margin: 20px 0;
  }

  .ingredient-macros {
    margin: 20px 0;
  }

  .ingredient-macros-item {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto auto;
    margin: 5px 0;
  }

  .ingredient-macros-item > td:nth-child(1),
  td:nth-child(3) {
    grid-column: span 1;
  }

  .ingredient-macros-item > td:nth-child(2) {
    grid-column: span 3;
    width: 100%;
    padding: 10px 0;
    margin: 0;
  }

  .amount-label {
    font-weight: bold;
    padding: 5px;
  }

  .amount-input {
    width: 100%;
  }

  .ingredient-input-remove {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
  }

  .ingredient-input-remove > *:nth-child(1),
  *:nth-child(2) {
    grid-column: span 2;
  }

  .ingredient-input-remove > *:nth-child(3) {
    grid-column: span 1;
    padding: 5px;
  }

  .total-macros {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto auto;
  }

  .total-macros > *:nth-child(1) {
    grid-column: 1 / -1;
  }

  .total-macros > *:nth-child(n + 2):nth-child(-n + 6) {
    grid-column: span 1;
  }
}
