@use '../../styles/abstracts/breakpoints' as *;

.container {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    justify-content: center;
  }
  
  .emojiWrapper {
    position: relative;
    font-size: 1.5rem;
    cursor: pointer;

    & * {
        margin: 10px;
    }
  
    &:hover .tooltip {
      visibility: visible;
      opacity: 1;
    }

    @include respond-below($breakpoint-xxl){
        font-size: 1.25rem;
    }

    @include respond-below($breakpoint-xl){
        font-size: 1rem;
    }

    @include respond-below($breakpoint-sm){
        & * {
            margin: 0;
        }
    }

  }
  
  .emoji {
    display: inline-block;
    filter: saturate(0.3) contrast(1.2);
  }
  
  .tooltip {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    bottom: -75%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 6px;
    white-space: nowrap;
    z-index: 1;
    font-size: 0.875rem;
  }
  